# Ігноруємо директорії CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.vs/
Debug/
Release/
x64/

# Файли Visual Studio

*.suo
*.user
*.ipch
*.pdb
*.idb
*.tlog

# Object files
*.o
*.obj

# Логи та тимчасові файли
*.log
*.tmp
*.cache

# Бібліотеки
*.lib
*.dll

# Системні файли
.DS_Store
Thumbs.db